.App {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button:active, .button:focus {
  background-color: red;
}


h1 {
  font-size: large;
  text-align: center;
}

.Menu, .Quiz, .EndScreen {
  width: 500px;
  height: 200px;
  border-radius: 10px;
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Menu button, .Quiz button, .EndScreen button {
  width: auto;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  font-size: medium;
}

.Menu, .Quiz, .EndScreen {
  color: white;

}

.options {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.active_item{
  background-color: lightgray;
}